<!DOCTYPE HTML>
<html lang="en">

<head>
	<link href="/public/css/questionCss.css" rel="stylesheet">
	<meta charset="utf-8">
	<title>동양항공 고객센터 목록</title>
	<style>
		header {
			position: relative;
			z-index: 3;
		}
	</style>
</head>

<body>
	<div>
		<% include ../top.ejs %>
	</div>
	<% if(session.notUser==false) { %>
	<script type="text/javascript">
		alert("작성자 본인만 확인 할 수 있습니다^^")    
	</script>
	<% } %>
	<div class="content">
		<h1>문의하기</h1>
		<% if(session.loginInfo.userid != "manager"){ %>
		<a class="btn1" href="/question/post">문의글 작성</a>
		<% } %>
		<table class="table1">
			<thead>
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>작성자</th>
					<th>답변상태</th>
				</tr>
			</thead>
			<tbody>
				<% for(var i=0; i< session.questionList.qnalist.length; i++){ 
					 var list=session.questionList.qnalist[i]; %>
				<tr>
					<td><%= list.no %></td>
					<td><a href="/question/detail/<%=list._id %>"> <%= list.title %></a></td>
					<td><%= list.writer %></td>
					<td><% if(list.status == 0) {%>
						답변대기중
						<% } else{%>
						답변완료
						<% } %></td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>
	<div>
		<% include ../bottom.ejs %>
	</div>
</body>

</html>