<!DOCTYPE HTML>
<html lang="en">

<head>
    <link href="/public/css/questionCss.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <meta charset="utf-8">
    <title>동양항공 고객센터 목록</title>
    <style>
        header {
            position: relative;
            z-index: 3;
        }
    </style>
</head>

<body>
    <div>
        <% include ../top.ejs %>
    </div>
    <div class="content">
        <div class="wrapper">
            <p class="h_title">문의글 작성</p>
            <form action="/question/post" method="POST">
                <table class="post_form">
                    <tr>
                        <td class="td_title">유형</td>
                        <td class="td_content">
                            <select id="question_category" name="question_category" style="width: 20%;">
                                <option value="1" selected>예매 문의</option>
                                <option value="2">결제 문의</option>
                                <option value="3">취소 문의</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_title"> 제목</td>
                        <td class="td_content">
                            <input type="text" name="question_title" required>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_title">내용</td>
                        <td class="td_content">
                            <textarea name="question_content" class="question_content1" rows="20">상품명 : &#13;&#10;가는날 : &#13;&#10;오는날 : </textarea>
                        </td>
                    </tr>
                    <tr>
                        <td >
                            비밀글<input type="checkbox" name="secretCheck" value="1">
                        </td>
                        <td><input type="submit" value="문의하기" class="btn1"></td>
                    </tr>
                </table>
                
            </form>
        </div>
    </div>
    <div class="footer">
        <% include ../bottom.ejs %>
    </div>
</body>

</html>
<script>
    $(function () {
        $("#question_category").change(function () {
            if ($(this).val() == 1) {
                $(".question_content1").text('상품명 : \n가는날 : \n오는날 : ')
            } else if ($(this).val() == 2) {
                $(".question_content1").text('상품명 : \n문의할 점 :')
            } else if ($(this).val() == 3) {
                $(".question_content1").text('상품명 : \n예매번호 : \n문의할 점 :')
            }
        });
    });
</script>