<!DOCTYPE HTML>
<html lang="en">

<head>
    <link href="/public/css/questionCss.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <meta charset="utf-8">
    <title>동양항공 고객센터 목록</title>
    <style>
        header {
            position: relative;
            z-index: 3;
        }
    </style>
</head>

<body>
    <div>
        <% include ../top.ejs %>
    </div>
    <div class="content">
        <div class="wrapper">
            <p class="h_title">문의글 수정</p>
            <form action="/question/update/<%=question._id %>" method="POST">
                <table class="post_form">
                    <tr>
                        <td class="td_title">유형</td>
                        <td class="td_content">
                            <select id="question_category" name="question_category" style="width: 20%;">
                                <option value="1" selected><%=question.type %></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="td_title"> 제목</td>
                        <td class="td_content">
                            <input type="text" name="question_title" value="<%=question.title %>" readonly> 
                        </td>
                    </tr>
                    <tr>
                        <td class="td_title">내용</td>
                        <td class="td_content">
                            <textarea name="update_content" class="question_content" rows="20"><%=question.content %></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="submit" value="수정하기" class="btn1"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div>
        <% include ../bottom.ejs %>
    </div>
</body>

</html>