<html>

<body>
    <form method="post" action="/account/register">
        <div className="register_content">
            <input type="text" name="userid" required placeholder="ID" /><br />
            <input type="password" name="password" required placeholder="Password" /><br />
            <input type="email" name="email" required placeholder="Email" /><br />
            <input type="tel" name="phone" required placeholder="Phone" /><br />
            <input type="submit" value="가입하기" className="btn1" />
            <input type="reset" value="취소" className="btn1" />
        </div>
    </form>
</body>

</html>