<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<style>
	bottom div{
	width: 100%;
	background-color:#7FB6BA;
	padding: 17px 0;
	text-align:center;
	clear:both;
	}
	#bottomP{
	width:1930px;
	margin:auto;
	}
</style>
</head>
<body>


	<bottom>
		<div>
			<p id="bottomP">Copyright 2017 DongyangAirplan</p>
		</div>
	</bottom>

</body>
</html>