<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>동양항공 메인페이지</title>
	<style>
	header{
	position:relative;
	z-index: 3;
	}
	</style>
</head>
<body>
		<% include ./top.ejs %>
	<div class="art">
		<% include ./main.ejs %>
	</div>
	
	<div class="footer">
		<% include ./bottom.ejs %>
	</div>
</body>
</html>