<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>동양항공 메인페이지</title>
		<link rel="stylesheet" type="text/css" media="screen" href="/public/css/CSSreset.min.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="/public/css/als_demo.css" />
		<link rel="stylesheet" type="text/css" media="screen" href="/public/css/silde.css" />

		<script type="text/javascript">


			$(document).ready(function()
			{
				var $list = $(".slider_list");
				var $box = $(".slider_box");
				var wd = $list.width();
				var num = $list.size();
				var margin,current,play;
				$box.width(wd*num);

				for(i=0; i<num; i++){
					var nav = '<a href="#" title="'+(i+1)+'번째로 이동"></a>'
					$(".slider_nav").append(nav);
				};
				var $nav = $(".slider_nav a");

				$(".slider_nav a:first").addClass("on");

				setTimeout(function(){
					play = setInterval(play_next,2000);
				},3000)



				/*  반복할 이벤트  */
				function play_next(){
					margin = parseInt($box.css("margin-left"));
					if(margin < -(wd*(num-2))){
						$box.not(":animated").animate({"marginLeft":"0px"},"fast");
					}else{
						$box.not(":animated").animate({"marginLeft":"-="+wd+"px"},"fast");
					};
					//var current = Math.abs(margin/wd);
					var current = Math.abs(Math.floor(margin/wd));
					$nav.removeClass("on");
					$nav.eq((current-num)+1).addClass("on");
				}

				function play_prev(){
					clearInterval(play);
					margin = parseInt($box.css("margin-left"));
					if(margin == 0){
						$box.not(":animated").animate({"marginLeft":"-"+wd*(num-1)+"px"},"fast");
					}else{
						$box.not(":animated").animate({"marginLeft":"+="+wd+"px"},"fast");
					};
					var current = Math.abs(Math.floor(margin/wd));
					$nav.removeClass("on");
					$nav.eq(current-1).addClass("on");
				}

				/*  버튼  */


				$(document).keydown(function(evt){
					if (evt.keyCode==37){
						play_prev();
					}else if(evt.keyCode==39){
						clearInterval(play);
						play_next();
					}
				});

				$(".prev").click(function(){
					play_prev();
					return false;
				});

				$nav.click(function(){
					clearInterval(play);
					$nav.removeClass("on");
					$(this).addClass("on");
					$box.not(":animated").animate({
						"marginLeft":-wd*($(this).index())
					});
					return false;
				});

				$("#lista1").als({
					visible_items: 3,
					scrolling_items: 2,
					orientation: "horizontal",
					circular: "yes",
					autoscroll: "yes",
					interval: 3000,
					speed: 500,
					easing: "linear",
					direction: "right",
					start_from: 0,
				});



				//logo hover
				$("#logo_img").hover(function()
				{
					$(this).attr("src","image/als_logo_hover212x110.png");
				},function()
				{
					$(this).attr("src","image/als_logo212x110.png");
				});

				//logo click
				$("#logo_img").click(function()
				{
					location.href = "http://als.musings.it/index.php";
				});

				$("a[href^='http://']").attr("target","_blank");
				$("a[href^='http://als']").attr("target","_self");
			});
		</script>
		<style>
		.slider_show{
		position: relative;
		}
		#bookSJSP{
		position: absolute;
		top:30px;
		left:150px;
		z-index: 2;
		}
		</style>
	</head>
	<body>
	<div id="point">
		<div style="width:1200px; height:300px; margin:auto;">
		
		<div class="slider_wrap">
			<div class="slider_show">
				<!-- slider_box -->
				<div class="slider_box">
					<div class="slider_list">
							<img src="public/images/b1.PNG" width="140" height="140" alt="img02" />
					</div>
					<div class="slider_list">
							<img src="public/images/b2.PNG" width="140" height="140" alt="img02" />

					</div>
					<div class="slider_list">

							<img src="public/images/b3.PNG" width="140" height="140" alt="img03" />

					</div>
					<div class="slider_list">
							<img src="public/images/b4.PNG" width="140" height="140" alt="img04" />

					</div>
				</div>
				<span id="bookSJSP" style="height: 300px; width: 1200px; margin:auto;">
					
				</span>
				<!-- //slider_box -->
				<!-- slider_nav -->
				<div class="slider_nav"></div>
				<!-- //slider_nav -->
			</div>
		</div>
	</div>
		
		<section id="content">
			<h3> 이벤트/ 특가존 </h3>
			<div id="lista1" class="als-container">
				<span class="als-prev"><img src="public/images/thin_left_arrow_333.png" alt="prev" title="previous" /></span>
				<div class="als-viewport">
					<ul class="als-wrapper">
						<li class="als-item"><img src="public/images/a3.PNG" WIDTH='200' HEIGHT='200'title /></li>
						<li class="als-item"><img src="public/images/a4.PNG"  WIDTH='200' HEIGHT='200'title /></li>
						<li class="als-item"><img src="public/images/a5.PNG"  WIDTH='200' HEIGHT='200'title /></li>
						<li class="als-item"><img src="public/images/a6.PNG"  WIDTH='200' HEIGHT='200'title/></li>
						<li class="als-item"><img src="public/images/a7.PNG" WIDTH='200' HEIGHT='200'title /></li>
						<li class="als-item"><img src="public/images/a8.PNG" WIDTH='200' HEIGHT='200'title /></li>
						<li class="als-item"><img src="public/images/a9.PNG" WIDTH='200' HEIGHT='200'title/></li>
						<li class="als-item"><img src="public/images/a10.PNG" WIDTH='200' HEIGHT='200'title /></li>
						<li class="als-item"><img src="public/images/a11.PNG" WIDTH='200' HEIGHT='200'title /></li>
					</ul>
				</div>
				<span class="als-next"><img src="public/images/thin_right_arrow_333.png" alt="next" title="next" /></span>
			</div>

			<div style="float: left; width: 55%; padding:10px;" >
			<h3> 여행 이야기 </h3>

			<iframe id="play" src='http://serviceapi.rmcnmv.naver.com/flash/outKeyPlayer.nhn?vid=280B13980D4B0C0F55C5F6CFF91B91F7AAEC&outKey=V1274a3b0327b18eeb208e2bbb6c9d5d5642789bdadc84e514960e2bbb6c9d5d56427&controlBarMovable=true&jsCallable=true&isAutoPlay=true&skinName=tvcast_white'
			        frameborder='no' scrolling='no' marginwidth='20' marginheight='0' WIDTH='435' HEIGHT='244'></iframe>
			</div>
<div style="float: left; width: 35%; padding:10px;" >
	<h3> 서비스 안내 </h3>
	<p style="padding:50px 30px; font-size:30px; font-weight:bold;"> 1599-1500</p>
<p style="padding:0px 50px; ">08:00~19:00(한국어)<br>
09:00~18:30(일본어)</p>

</div>
		</section>
	</div>
	</body>
</html>