<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/public/css/topCss.css" />
</head>

<body>
    <div id="topMenu">

        <% if(!session.loginInfo){ %>
        <div id="top1">
            <span><a href="/account" class="menuLink">로그인</a></span>
            <span><a href="/account/register" class="menuLink">회원가입</a></span>
            <span><a href="/question" class="menuLink">고객센터</a></span>
        </div>
        <% }else{ %>
        <div id="top1">
            <span><%=session.loginInfo.userid %></span>
            <span><a href="/account/logout" class="menuLink">로그아웃</a></span>
            <span><a href="/question" class="menuLink">고객센터</a></span>
        </div>
        <% } %>
        <div id="header2">
            <div id="top2">
                <span id="logo"><a href="/"><img src="/public/images/DYAir.gif"></a></span>
                <div class="menubar">
                    <ul>
                        <li class="sub">
                            <a href="#">항공권예매</a>
                            <ul>
                                <li><a href="#">항공권 예매</a></li>
                            </ul>
                        </li>
                        <li class="sub">
                            <a href="#">마이페이지</a>
                            <ul>
                                <li><a href="#">예매내역관리</a></li>
                                <li><a href="#">개인정보관리</a></li>
                            </ul>
                        </li>
                        <li class="sub">
                            <a href="#">서비스안내</a>
                            <ul>
                                <li><a href="#">항공권 예매</a></li>
                                <li><a href="#">항공권 환불</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- <nav>
                    <ul>
                        <li class="sub">
                            <a href="#">항공권예매</a>
                            <ul>
                                <li><a href="#">항공권 예매</a></li>
                            </ul>
                        </li>
                        <li class="sub">
                            <a href="#">마이페이지</a>
                            <ul>
                                <li><a href="#">예매내역관리</a></li>
                                <li><a href="#">개인정보관리</a></li>
                            </ul>
                        </li>
                        <li class="sub">
                            <a href="#">서비스안내</a>
                            <ul>
                                <li><a href="#">항공권 예매</a></li>
                                <li><a href="#">항공권 환불</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav> -->
            </div>
        </div>

    </div>
</body>

</html>